<%- include("partials/header") -%>

<section class="section3c">

  <div class="container container-heading">
    <h1>I would love to hear from you</h1>
    <hr class="hr1">

  </div>

  <div class="container container-box">
    <div class="row">
      <div class="box1"  id="boxm1">
        <div class="column">
          <i class="fa-solid fa-envelope fa-box"></i>
          <p class="boxtext">Email Me</p>
          <button type="button" class="btn btn-outline-dark btn-lg btn-contact">marcanthonyyoung@outlook.com</button>

        </div>
      </div>
      <div class="box1" id="boxm2">
        <div class="column">
          <i class="fa-solid fa-mobile fa-box2"></i>
          <p class="boxtext2">Call or Text</p>
          <button type="button" class="btn btn-outline-dark btn-lg btn-contact">07435296638</button>

        </div>
      </div>
      <div class="box1">
        <div class="column">
          <i class="fa-brands fa-linkedin fa-box3"></i>
          <p class="boxtext3">LinkedIn Me</p>
          <button type="button" class="btn btn-outline-dark btn-lg btn-contact">Drop me a message</button>

        </div>
      </div>
      <div class="box1">
        <div class="column">
          <i class="fa-brands fa-github-square fa-box4"></i>
          <p class="boxtext4">GitHub Me</p>
          <button type="button" class="btn btn-outline-dark btn-lg btn-contact">Have they got a chat system?</button>

        </div>
      </div>

    </div>

  </div>

  <img src="https://img.icons8.com/material-sharp/24/000000/man-with-money.png" id="mwm"/>


</section>








<%- include("partials/footer") -%>
