<%- include("partials/header") -%>

<section class="section1">
  <div class="container container-home">
    <p class="text animation">Welcome, I'm Marc. A Junior Developer from London. <a href="https://www.linkedin.com/in/marc-young-479a6418a/" target="_blank"><i class="fa-brands fa-linkedin fa-b"></i></a> <a href="https://github.com/MarcyAnth" target="_blank"><i class="fa-brands fa-github fa-b"></i></a>
    </p>
    <div class="column column-button">
      <a class="btn btn-dark btn-lg" href="public/images/M Young CV.pdf" download="M Young CV.pdf" role="button"><i class="fa-solid fa-file-arrow-down"></i> My CV</a>
      <a class="btn btn-dark btn-lg" href="/portfolio" role="button"> Portfolio</a>
    </div>

  </div>



</section>











<%- include("partials/footer") -%>
