<%- include("partials/header") -%>

<section class="section1portfolio">
  <div class="container container-text">
    <h1>My Projects</h1>
    <p>These are currently the projects I have finished. Click each image and it will take you to GitHub </p>

  </div>



  <div class="container container-portfolio mt-5">
    <div class="column">
      <a href="https://github.com/MarcyAnth/2479Clothing_landing_page" target="_blank">
      <img  href="https://github.com/MarcyAnth/2479Clothing_landing_page"src="images/2479_home.jpg" alt="adad" width="300" height="300">
      </a>
      <p class="ptext">2479 Clothing</p>
    </div>
    <div class="column">
      <a href="https://github.com/MarcyAnth/CrossFit-Website" target="_blank">
      <img src="images/progenex.jpg" alt="adad" width="300" height="300">
      </a>
      <p class="ptext">Progenex CrossFit</p>
    </div>
    <div class="column">
      <a href="https://github.com/MarcyAnth/Blog-with-Node.Js" target="_blank">
        <img src="images/blog1.jpg" alt="adad" width="300" height="
        300"></a>

        <p class="ptext">Blog Website</p>
    </div>

    <div class="column">
      <a href="https://github.com/MarcyAnth/Sales_lead_tracker" target="_blank">
      <img src="images/leads.JPG" alt="adad" width="300" height="300">
      </a>
      <p class="ptext">Sales Tracker (Chrome Extension)</p>

    </div>

  </div>
  <hr class="horizontal">
  <div class="container container-logos fa-2xl">
    <i class="fa-brands fa-css3-alt fa-2xl fa-icon"></i>
    <i class="fa-brands fa-html5 fa-2xl fa-icon"></i>
    <i class="fa-brands fa-js fa-2xl fa-icon"></i>
    <i class="fa-brands fa-python fa-2xl fa-icon"></i>
    <i class="fa-brands fa-react fa-2xl fa-icon"></i>
  </div>
<hr class="horizontal mt-5">








</section>




<%- include("partials/footer") -%>
