<%- include("partials/header") -%>

<section class="section1portfolio">
  <div class="container container-text">
    <h1>PROJECTS</h1>


  </div>

  <hr class="horizontal">
  <div class="container container-logos fa-2xl">
    <i class="fa-brands fa-css3-alt fa-2xl fa-icon"></i>
    <i class="fa-brands fa-html5 fa-2xl fa-icon"></i>
    <i class="fa-brands fa-js fa-2xl fa-icon"></i>
    <i class="fa-brands fa-python fa-2xl fa-icon"></i>
    <i class="fa-brands fa-react fa-2xl fa-icon"></i>
  </div>
  <hr class="horizontal mt-5">



  <div class="container container-portfolio mt-5">
    <div class="column">
      <div class="card">
        <img src="images/progenex.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Progenex CrossFit</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/MarcyAnth/CrossFit-Website" target="_blank" class="btn btn-dark"><i class="fa-brands fa-github fa-b"></i></a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="images/2479_home.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">2479 Clothing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/MarcyAnth/2479Clothing_landing_page" target="_blank" class="btn btn-dark"><i class="fa-brands fa-github fa-b"></i></a>
        </div>
      </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="images/blog1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blog Website</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://github.com/MarcyAnth/Blog-with-Node.Js" target="_blank" class="btn btn-dark"><i class="fa-brands fa-github fa-b"></i></a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/leads.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sales Tracker(Chrome Extension)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://github.com/MarcyAnth/Sales_lead_tracker" target="_blank" class="btn btn-dark"><i class="fa-brands fa-github fa-b"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="container container-git mt-5">
      <div class="column">
        <h1>Get in touch</h1>
        <p>I'm always looking for new opportunities, feel free to drop me a message wherever you like.</p>
        <a href="/contact"><button  type="button" class="btn btn-outline-dark btn-lg">Say Hello</button></a>

      </div>


    </div>



</section>





<%- include("partials/footer") -%>
